{% extends 'base.html' %}

{% load vend_tags %}

{% block title %}Vend Report{% endblock %}

{% block report_link %}<li class="active"><a href="{% url 'vend:user_vends' %}">Vends</a></li>{% endblock %}

{% block app_body %}
<div class="row vends">
  <div class="col-md-3">
    <div></div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div>
        {% if not message %}
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Vend Date/Time</th>
                <th scope="col">Value</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Voucher Type</th>
              </tr>
            </thead>
            <tbody>
            {% for vend in vends %}
              <tr>
                <td>{{ vend.vend_date }}</td>
                <td>{{ vend.voucher_value }}</td>
                <td>{{ vend.subscriber_phone_number }}</td>
                <td>{{ voucher_types_map|get_item:vend.voucher_type }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
            <p class="well">{{ message }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <nav>
        <ul class="pager">
          {% if vends.has_previous %}
            <li class="previous">
              <a href="?page={{ vends.previous_page_number }}">
                <span aria-hidden="true">&larr;</span> Previous
              </a>
            </li>
          {% endif %}
          {% if vends.has_next %}
            <li class="next">
              <a href="?page={{ vends.next_page_number }}">
                Next <span aria-hidden="true">&rarr;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}