{% extends 'base.html' %}

{% block title %}Vend Standard Vouchers{% endblock %}

{% block app_body %}
<div class="row">
  <form method="post" action="" class="vend-form">
    {% block form_header %}
      <div class="page-header">
        <h1>Vend Standard Vouchers</h1>
      </div>
    {% endblock %}

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.value.errors }}
      <label for="{{ form.value.id_for_label }}">{{ form.value.label }}</label>
      {{ form.value }}
    </div>

    <div class="form-group">
      {{ form.phone_number.errors }}
      <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
      {{ form.phone_number }}
    </div>

    <button type="submit" class="btn btn-primary">Vend</button>
  </form>
</div>
{% endblock %}