{% extends 'base.html' %}

{% block title %}Vend Standard Voucher{% endblock %}

{% block app_body %}
<div class="row">
  <form method="post" action="" class="vend-form">
    {% block form_header %}
      <div class="page-header">
        <h1>Vend Standard Voucher</h1>
      </div>
    {% endblock %}

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.voucher_value.errors }}
      {{ form.voucher_value.label_tag }}
      {{ form.voucher_value }}
    </div>

    {% block phone_number_field %}
    <div class="form-group">
      {{ form.subscriber_phone_number.errors }}
      {{ form.subscriber_phone_number.label_tag }}
      {{ form.subscriber_phone_number }}
    </div>
    {% endblock %}

    <button type="submit" class="btn btn-primary">Vend</button>
  </form>
</div>
{% endblock %}