{% extends 'base.html' %}

{% block title %}Vend Vouchers{% endblock %}

{% block nav_items %}
<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Vend <span class="sr-only">(current)</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'vend_instant' %}">Instant</a></li>
      <li><a href="{% url 'vend_standard' %}">Standard</a></li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}

{% block app_body %}
<div class="row">
  <form method="post" action="" class="vend-form">
    <fieldset>
      <div class="page-header">
        <h1>Vend Instant Vouchers</h1>
      </div>
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.value.errors }}
        <label for="{{ form.value.id_for_label }}">{{ form.value.label }}</label>
        {{ form.value }}
      </div>

      <div class="form-group">
        {{ form.quantity.errors }}
        <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
        {{ form.quantity }}
      </div>

      <button type="submit" class="btn btn-primary">Vend</button>
    </fieldset>
  </form>
</div>
{% endblock %}
