/* Forms */
.login-form {
  width: 30%;
  margin: 0 auto;
}
.vend-form {
  width: 40%;
  margin: 0 auto;
}

.errorlist,
.errorlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f00;
  font-size: 90%;
}

.header {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
  color: green;
}
.messages {
  list-style: none;
  background: #e7e7e7;
  font-weight: bold;
}
.messages li {
  padding: .5em 0 .5em .5em;
}